.circleCheck {
	border: solid 1px #55c4e2;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	min-width: 24px;
	cursor: pointer;
	transition: border-color 0.2s ease-in-out;
}

.circleCheck:hover {
	border-color: #09f;
	box-shadow: 0px 0px 10px #09f;
}

.squareCheck {
	border: solid 1px #ce7878;
	border-radius: 10%;
	height: 24px;
	width: 24px;
	min-width: 24px;
	cursor: pointer;
	transition: border-color 0.2s ease-in-out;
	background-image: url('../../assets/images/close.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

.squareCheck:hover {
	border-color: #ce7878;
	box-shadow: 0px 0px 10px #ce7878;
}

.circleCheckCheked {
	border-color: #09f;
	background-image: url('../../assets/images/checkmark.png');
	background-repeat: no-repeat;
	background-position: center;
}
