.errorCenter {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorContainer {
	text-align: center;
}

.primaryButton {
	color: white;
	background-color: #4a62b6;
	padding: 12px;
	border-radius: 5px;
}

.primaryButton:hover {
	background-color: #6a6b72;
}

.textSecondary {
	color: #9fa6b2;
}

.m5 {
	margin: 30px;
}

.ml3 {
	margin-left: 3px;
}
