.container {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0 10px 0;
}

.description {
	margin-left: 30px;
	width: 80%;
	height: 24px;
	display: flex;
	align-items: center;
}

.delete {
	width: 20%;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
